body {
  margin: 0;
  background-color: #1c1b20; }

.bg {
  width: 100%;
  height: 100vh;
  background-image: url("../images/stripes.png");
  background-position: 50% 44%;
  background-repeat: no-repeat;
  background-size: 90%;
  position: absolute; }

.none {
  display: none; }

.arrow {
  position: absolute;
  bottom: 20px;
  width: 50px;
  height: 50px;
  left: calc(50vw - 25px);
  background-image: url("../images/arrow.png");
  background-position: 50% 44%;
  background-repeat: no-repeat;
  background-size: contain; }

.light {
  width: 150%;
  height: 100%;
  background-image: url("../images/light.png");
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed; }
  .light.light-1 {
    top: -30%;
    left: 30%; }
  .light.light-2 {
    top: 50%;
    left: -50%; }

.swiper-container {
  width: 100%;
  height: 100vh; }
  .swiper-container .swiper-wrapper {
    width: 100%;
    height: 100%;
    position: relative; }

.page {
  width: 100%;
  height: 100vh; }
  .page .content {
    width: 100%;
    height: 100%;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: 130%; }
  .page .pic {
    width: 100%;
    height: 100%;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    position: absolute; }
  .page.page-1 .pic {
    left: -100vw;
    top: 100vw;
    background-size: 170%; }
    .page.page-1 .pic.stripes {
      background-image: url("../images/page1-stripes.svg"); }
    .page.page-1 .pic.content {
      background-image: url("../images/page1-content.svg"); }
    .page.page-1 .pic.title {
      background-image: url("../images/page1-title.svg"); }
  .page.page-2 .pic {
    left: 100vw;
    top: 100vw;
    background-size: 190%; }
    .page.page-2 .pic.stripes {
      background-image: url("../images/page2-stripes.svg"); }
    .page.page-2 .pic.content {
      background-image: url("../images/page2-content.svg"); }
    .page.page-2 .pic.title {
      background-image: url("../images/page2-title.svg"); }
  .page.page-3 .pic {
    left: -100vw;
    top: 100vw;
    background-size: 190%; }
    .page.page-3 .pic.stripes {
      background-image: url("../images/page3-stripes.svg"); }
    .page.page-3 .pic.content {
      background-image: url("../images/page3-content.svg"); }
    .page.page-3 .pic.title {
      background-image: url("../images/page3-title.svg"); }
  .page.page-4 .pic {
    left: 100vw;
    top: 100vw;
    background-size: 190%; }
    .page.page-4 .pic.stripes {
      background-image: url("../images/page4-stripes.svg"); }
    .page.page-4 .pic.content {
      background-image: url("../images/page4-content.svg"); }
    .page.page-4 .pic.title {
      background-image: url("../images/page4-title.svg"); }
